html, body {
	height: 100%;
	width: 100%;
}

a {
	outline: 0;
}

.navbar{
	height: 100px;
}

h4#title{
	font-size: 28px;
}

#leftbtn{
	margin-left: 10px;
}

#search_title{
	margin-top:180px;
	text-align: center;
}

.form-control{
	width: 50px;
	margin-left: 20px;
}

#border{
	margin-top:140px;
	margin-right: 20px;
	margin-left: 20px;
	border-style:solid;
	border-color: darkgray;
	border-width: 1px;
	height: 180px;
}
.form-inline{
	margin-top: 30px;
}

#search_btn{
	margin-top: 30px;
	margin-left: 50px;
	width: 150px;
}

.carousel-item{
	margin-top: 30px;
	height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact{
	margin-top: 30px;
	width: 100%;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}



/* SignIn style */
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
button.sign {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button.sign:hover {
  opacity: 1;
}

input.sign{
	display: inline-block;
	border: none;
    background: #f1f1f1;
}

input.sign:focus{
   background-color: #ddd;
   outline: none;
} 

/* Register style */

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text].register, input[type=password].register {
  width: 100%;
  padding: 15px;
  margin-left:5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text].register:focus, input[type=password].register:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
input[type=submit].register {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

input[type=submit].register:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Main page style */

div.border_apartments{
	border-style:solid;
	border-color: darkgray;
	border-width: 1px;
	height: 265px;
	width: 900px;
	float:left;
	margin-top: 20px;
}

div#sort{
	border: 1px solid black; 
	position: absolute; 
	left: 50px; 
	width: 18%; 
	top: 200px;
	margin-top: 180px;
}
div#filters{
	width: 18%; 
	position: absolute; 
	left:50px; 
	border: 1px solid black; 
	top: 420px; 
	margin-top: 180px;
	height: auto;
}
div#apartments{
	background-color: white; 
	position: absolute; 
	left: 450px; 
	top: 200px; 
	width:800px;
}
table.table_apartments{
	width: 70%; 
	margin-top: 20px; 
	margin-left:10px;
}
img.img_apartment{
	width: 250px; 
	height: 210px;
	margin-left: 20px;
}

/* Style the container */
.container_colored {
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  margin: auto;
}
button#first_highest,button#first_lowest,button#filter{
	color: white; 
	left: 38px;
	width: 150px;
}
button.edit_delete{
	color: white; 
	margin-left:50px;
	top:120px;
	width: 150px;
}
button.reservation{
	color: white; 
	margin-left:50px;
	top:100px;
	width: 150px;
}
