#border_reservation{
	margin-top:80px;
	margin-right: 20px;
	margin-left: 50px;
	border-style:solid;
	border-color: darkgray;
	border-width: 1px;
	height: 280px;
	width: 600px;
	
	
}

#table_reservation{
	width: 70%; 
	margin-top: 20px; 
	margin-left:10px;
}

#submit_btn{
	margin-top: 30px;
	margin-left: 50px;
	width: 150px;
	color: white;
}

#apartment_name{
	text-align: center;
	margin-top: 20px;
}

#apartment{
	margin-top: 60px;
	margin-left: 20px;
	margin-bottom: 20px;
	
}

row_left{
	position: absolute;
	left: 150px;
	width: 200px;
	padding-left: 20px;
}

#sort_reservation{
	border: 1px solid black; 
	position: absolute; 
	left: 50px; 
	width: 300px; 
	top: 20px;
}

#title-my-res{
	margin: auto;
	width:50%;
	margin-top: 20px;
	text-align: center;
}

#info_apartment{
	background-color: #f1f1f1;
	border: 1px solid black; 
	position: absolute; 
	padding-top:60px;	
	margin-top:30px;
	width: 30%;
	margin-left: 33%;
	left: 0px;
	
}


#table{
	width: 100%; 
	margin: auto;
}

#images{
	position: absolute;
	padding-top: 37%;
	margin-left: 10%;
	
	
}

#list{
	width: 33%; 
	margin-left: 33%;
	color: black;
}

#title{
	padding-top: 40px; 
	color: black;
}

#list_entity{
	width: 40%; 
	margin-left: 33%;
	
	color: gray;
}

div#about_apartments{
	background-color: white; 
	padding-top: 40px;
	left: 450px; 
	top: 200px; 
	width:800px;
	
}
